
<ion-header>
  <ion-navbar>
    <ion-title id="hometitle">Ionic Blank</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-slides #slider spaceBetween="10" slidesPerView="2">
    <ion-slide *ngFor="let slide of slides"
               [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')'}">
      <h2>{{slide.title}}</h2>
    </ion-slide>
  </ion-slides>

<ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center  approxItemHeight="457px">

		
		
		
          <ion-card class="property-card">
		  
            <ion-card-header>
			<ion-list-header color="primary" center>
				<ion-title> APP TO GET INSURANCE ON INVOICE </ion-title>			
			</ion-list-header>
                <ion-thumbnail item-start>
                  <img [src]="captureDataUrl"  />
				  
                </ion-thumbnail>
                 
    

    

    <button ion-button (click)="upload()" *ngIf="captureDataUrl">Upload Invoice</button>

	
    
	
            </ion-card-header>

            <ion-card-content class="outer-content">
			
			
              <ion-list>
			   <ion-item>
			   <ion-label color="primary" stacked large>Item to take Insurance</ion-label>
				<ion-textarea placeholder="Enter Description"  [(ngModel)]="insureentry.invoicedesc" > </ion-textarea>   
			
			</ion-item>
			
			<ion-item>
			   <ion-label color="primary" >Enter</ion-label>
				 <ion-input type="number" placeholder="Bill amount" [(ngModel)]="insureentry.billamount" > </ion-input>
			</ion-item>
			<ion-item>
			<ion-label color="primary" >Enter</ion-label>
				 <ion-input type="number" placeholder="Amount of insurance" [(ngModel)]="insureentry.insuranceamt" > </ion-input>
			</ion-item>
			<ion-item>
			<ion-label color="primary" >Enter</ion-label>
				  <ion-input  placeholder="Invoice id" [(ngModel)]="insureentry.invoiceid"> </ion-input>  
			</ion-item>
			
			<button ion-button block (click)="createInsureEntry()" id="createinsure">Create Insurance Entry</button >        
			<button ion-button block (click)="capture()">Take picture of invoice</button>
        <button ion-button block (click)="UpdateInsureEntry()" >Get quote of Insurance</button>        
              </ion-list>
            </ion-card-content>

            <ion-row no-padding>
              <ion-col col-12 col-lg-auto text-center text-lg-left>
                <button ion-button clear small color="primary" icon-start (click)="goToPropertyTwitter(property)">
                  <ion-icon name="logo-twitter"></ion-icon>
                  Tweet
                </button>
              </ion-col>
              <ion-col col-12 col-lg-auto text-center>
                <button ion-button clear small color="primary" icon-start (click)="openPropertyShare(property)">
                  <ion-icon name='share-alt'></ion-icon>
                  Share
                </button>
              </ion-col>
              <ion-col col-12 col-lg-auto text-center text-lg-right>
                <button ion-button clear small color="primary" icon-start (click)="openContact(property)">
                  <ion-icon name='chatboxes'></ion-icon>
                  Contact
                </button>
              </ion-col>
            </ion-row>

          </ion-card>

        </ion-col>
      </ion-row>
	  
	  <ion-row padding>
              <ion-col col-12 >
			      <ion-item>
				  Native way
				  </ion-item>
    <ion-item>
    <p>{{imageURI}}</p>
    <button ion-button color="secondary" (click)="getImage()">Get Image</button>
  </ion-item>
  <ion-item>
    <h4>Image Preview</h4>
    <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
  </ion-item>
  <ion-item>
    <button ion-button (click)="uploadFile()">UploadImage</button>
  </ion-item>            
              </ion-col>
            </ion-row>
		<ion-row padding>
              <ion-col col-12 >
			  <ion-item>
				  Native way download.  (set the image name)
				  </ion-item>
		
<ion-card-content>
      <img src="assets/img/pug.jpg" alt="Cute Pug">
      <button ion-button (click)="downloadImage('pug.jpg')" color="secondary">Download image</button>
      <button ion-button (click)="retrieveImage('pug.jpg')" color="secondary">Retrieve downloaded image</button>
    </ion-card-content>
	
      </ion-col>
            </ion-row>
        
	  <ion-row no-padding>
              <ion-col col-12 >
      <ion-item>
				  General way
				  </ion-item>
	    <ion-item>
	  <div class="form-group">
   <label for="single">single</label>
   <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />                                  
</div>
</ion-item>
<ion-item>
	<div class="form-group">
                                    <label for="multiple">Multiple</label>
                                    <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />
                                </div>
			</ion-item>					
      <ion-item>
      </ion-item>

              </ion-col>
            </ion-row>



<ion-row padding>
              <ion-col col-12 >
      

                            <h3>File Upload with Angular 2 and Node</h3>
                            Queue length: {{ uploader?.queue?.length }}

                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th>Size</th>
                                    <th>Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs"
                                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs"
                                                (click)="item.cancel()" [disabled]="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
							
              </ion-col>
            </ion-row>
			
			<ion-row padding>
              <ion-col col-12 >


						<div>
                                <div>
                                    Queue progress:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s"
                                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s"
                                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                                <button type="button" class="btn btn-danger btn-s"
                                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </div>
				</ion-col>
            </ion-row>
		

<ion-row padding>
              <ion-col col-12 >
      <ion-item>
				  General way Image upload
				  </ion-item>
	    <ion-item>
	  <div class="form-group">
   <label for="single">single</label>
   <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="imageuploader" />                                  
</div>
</ion-item>
<ion-item>
	<div class="form-group">
                                    <label for="multiple">Multiple</label>
                                    <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="imageuploader" multiple  />
                                </div>
			</ion-item>					
      <ion-item>
      </ion-item>

              </ion-col>
            </ion-row>



<ion-row padding>
              <ion-col col-12 >
      

                            <h3>Image File Upload with Angular 2 and Node</h3>
                            Queue length: {{ imageuploader?.queue?.length }}

                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th>Size</th>
                                    <th>Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of imageuploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs"
                                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs"
                                                (click)="item.cancel()" [disabled]="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
							
              </ion-col>
            </ion-row>
			
			<ion-row padding>
              <ion-col col-12 >


						<div>
                                <div>
                                    Queue progress:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': imageuploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s"
                                        (click)="imageuploader.uploadAll()" [disabled]="!imageuploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s"
                                        (click)="imageuploader.cancelAll()" [disabled]="!imageuploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                                <button type="button" class="btn btn-danger btn-s"
                                        (click)="imageuploader.clearQueue()" [disabled]="!imageuploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </div>
				</ion-col>
            </ion-row>
			
			
			
    </ion-grid>
	
	
  
  
</ion-content>
